.table{
    font-size: 3rem;    
    border-collapse: collapse;
    border-collapse: separate /*default*/;
    empty-cells: hide;
    empty-cells: show; /*default*/
}

table,
th,
td{
    border: medium solid black;
    border-spacing: 0;
    border-spacing: 10px;
    
}